/* Styling scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-warm-color);
}

main {
  background: none;
  > div::-webkit-scrollbar {
    display: none;
  }

  > div {
    overflow-y: hidden;
    overflow-x: scroll;

    article {
      h2 {
        width: auto;
      }

      flex-shrink: 0;
      width: 100vw;
      height: 100vh;

      > div {
        height: 100%;
        margin: 80px;
        border-radius: 16px;
        background-color: #212121cc;
      }
    }

    article:nth-child(1) {
      > div > ul {
        margin: auto 0 80px 0;

        svg {
          fill: var(--primary-color);
          width: 42px;
        }

        svg:hover {
          fill: whitesmoke;
          transition: all 400ms;
        }
      }
    }
  }

  button {
    width: 128px;
    height: calc(100vh - 160px);
    font-size: 4rem;
    margin-block: 80px;
  }

  #btnPrevious {
    margin-left: 64px;
  }

  #btnNext {
    margin-right: 90px;
    width: 102px;
  }

  > ul {
    display: none;
  }
}

/* Portfolio */
body > main > div > article:nth-child(4) > div > div {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "a b"
    "c c";
  margin: 0;

  > div {
    margin: 0;
  }

  > section > div {
    width: 30vw;

    > div {
      background-color: #212121aa;
    }
  }

  > section:nth-child(3) {
    grid-area: c;

    > div {
      display: grid;
      width: 100%;
      padding-inline: 64px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
